@import 'styles/utils/mixins';
@import 'styles/utils/variables';

.Breadcrumbs {
  --breadcrumb-link-color: var(--gray-7);
  display: flex;
  flex-wrap: wrap;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--gray-4);
  padding-bottom: 10px;
  padding-left: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;

  @include breakpoint($screen-lg) {
    line-height: 20px;
  }

  &-Item {
    position: relative;

    &:not(:last-child) {
      margin-right: 14px;
      padding-right: 21px;

      &::after {
        position: absolute;
        right: 0;
        color: var(--breadcrumb-link-color);
        content: "/";
      }
    }
  }

  &-Link {
    color: var(--breadcrumb-link-color);
    text-decoration: none;
  }
}
